* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
html {
  scroll-behavior: smooth;

  --dark600: #1C1E27;
  --dark400: #45474D;
  --light400: #F5EEDF;
  --light600: #A6A198;
  --blue600: #81A7B3;
  --blue400: #B7D1DA;
}

body {
  background-color: #1C1E27;
  font-family: 'Josefin Sans', sans-serif;
}
::selection {
  background-color: var(--blue600);
  color: var(--dark600);
}

h1 {
  font-family: 'Megrim', serif;
  font-size: 4rem;
  color: var(--blue400);
}
h2 {
  font-size: 2.5rem;
  color: var(--light400);
}
h3 {
  font-size: 1.5rem;
  color: var(--light600);
}
h2.dark, h3.dark {
  color: var(--dark600);
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  color: var(--light600);
  font-size: 1rem;
  line-height: 1.5rem;
}
p.dark {
  color: var(--dark400);
}

img {
  width: 100%;
}
section, footer,header {
  margin: 0 auto;
  max-width: 1200px;
  padding: 5rem 2rem;
}

.box {
  padding: 1rem;
  background-color: var(--blue400);
  box-shadow: 15px 15px 0px 0px var(--blue600);
  /* border: 2px solid var(--blue600); */

  transition: all .3s;
}
.box:hover {
  box-shadow: 0px 0px 0px 0px var(--blue600);
  transform: translateX(15px) translateY(15px);
}
.bgBold {
  background-color: var(--blue600);
  box-shadow: none;
  transform: translateX(15px) translateY(15px);
}
.button {
  display: inline-block;
  padding: 1rem;
  
  background-color: var(--blue600);
  cursor: pointer;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-text p {
  max-width: 400px;
}

.header-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
.header-services .box p:last-of-type {
  margin: 1rem 0;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
}
.about h2, .about p.bold {
  margin-bottom: 1rem;
  color: var(--light400);
}
.how-work-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.ask {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3rem;
}
.ask-text p {
  margin-top: 3rem;
  max-width: 500px;
}
.ask-questions-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.ask-questions-container p {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.questions-boxes .box {
  margin: 3rem 0;
  cursor: pointer;
}

.service {
  margin: 3rem 0;

  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}
.service p {
  max-width: 400px;
}
.service .box {
  width: 400px;
}

.design {
  margin: 5rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.design-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.artigos-wrapper {
  margin-top: 3rem;
  height: 200px;
  overflow-y: hidden;
  overflow-x: auto;
}
.artigos-wrapper .box {
  margin: 0 3rem;
  display: inline-block;
}
.artigos-wrapper .box .button {
  margin-top: 1rem;
}

footer {
  text-align: center;
  background-color: var(--blue400);
  border-top: 30px solid var(--blue600);
}
footer h2 {
  font-family: 'Megrim';
  font-size: 4rem;
  color: var(--dark600);
}
footer .box {
  max-width: 500px;
  margin: 3rem auto;

  box-shadow: 15px 15px 0px 0px var(--dark600);
  border: 2px solid var(--dark600);
}
footer .box h3 {
  color: var(--dark600);
}
footer .box p {
  color: var(--dark400);
}

@media (max-width: 850px) {
  .header-services {              /* .box isn't center */
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .header-services .box {
    max-width: 500px;
  }

  .ask {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 700px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .how-work-text {
    grid-template-columns: 1fr;
  }

  .service {
    flex-direction: column;
  }
  .service h2 {
    max-width: 400px;
  }
  .service .box {
    width: 200px;
    margin-bottom: 5rem;
  }

  .design {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  section, footer,header {
    padding: 5rem 1rem;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .ask-questions-container {
    grid-template-columns: 1fr;
  }

  .service .quebrar {
    word-break: break-all;
  }
  .service .box {
    width: 90vw;
  }
}